@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ot9axj');
  src:  url('fonts/icomoon.eot?ot9axj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ot9axj') format('truetype'),
    url('fonts/icomoon.woff?ot9axj') format('woff'),
    url('fonts/icomoon.svg?ot9axj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-success:before {
  content: "\e956";
}
.icon-settings:before {
  content: "\e955";
}
.icon-box:before {
  content: "\e954";
}
.icon-despesa2:before {
  content: "\e950";
}
.icon-despesa:before {
  content: "\e953";
}
.icon-banco:before {
  content: "\e958";
}
.icon-controle:before {
  content: "\e959";
}
.icon-blacklist:before {
  content: "\e952";
}
.icon-cart:before {
  content: "\e900";
}
.icon-ordem:before {
  content: "\e957";
}
.icon-notification:before {
  content: "\e901";
}
.icon-configuration:before {
  content: "\e902";
}
.icon-note:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e904";
}
.icon-calender:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-more:before {
  content: "\e907";
}
.icon-checkbox-multiple:before {
  content: "\e908";
}
.icon-checkbox-select:before {
  content: "\e909";
}
.icon-checkbox-outline:before {
  content: "\e90a";
}
.icon-message:before {
  content: "\e90b";
}
.icon-video:before {
  content: "\e90c";
}
.icon-attachment:before {
  content: "\e90d";
}
.icon-sent:before {
  content: "\e90e";
}
.icon-call:before {
  content: "\e90f";
}
.icon-meeting:before {
  content: "\e910";
}
.icon-light:before {
  content: "\e911";
}
.icon-dark:before {
  content: "\e912";
}
.icon-mail:before {
  content: "\e913";
}
.icon-leads:before {
  content: "\e914";
}
.icon-filter:before {
  content: "\e915";
}
.icon-setting:before {
  content: "\e916";
}
.icon-product:before {
  content: "\e917";
}
.icon-contact:before {
  content: "\e918";
}
.icon-activity:before {
  content: "\e919";
}
.icon-perosnal:before {
  content: "\e91a";
}
.icon-quote:before {
  content: "\e91b";
}
.icon-dashboard:before {
  content: "\e91c";
}
.icon-cross-large:before {
  content: "\e91d";
}
.icon-left-arrow:before {
  content: "\e91e";
}
.icon-right-arrow:before {
  content: "\e91f";
}
.icon-up-arrow:before {
  content: "\e920";
}
.icon-down-arrow:before {
  content: "\e921";
}
.icon-search:before {
  content: "\e922";
}
.icon-add:before {
  content: "\e923";
}
.icon-add-2:before {
  content: "\e924";
}
.icon-radio-selected:before {
  content: "\e925";
}
.icon-radio-normal:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e927";
}
.icon-file:before {
  content: "\e928";
}
.icon-eye:before {
  content: "\e929";
}
.icon-eye-hide:before {
  content: "\e92a";
}
.icon-percentage:before {
  content: "\e92b";
}
.icon-dollar:before {
  content: "\e92c";
}
.icon-bookmark-not-selected:before {
  content: "\e92d";
}
.icon-bookmark-selected:before {
  content: "\e92e";
}
.icon-list:before {
  content: "\e92f";
}
.icon-enter:before {
  content: "\e930";
}
.icon-kanban:before {
  content: "\e931";
}
.icon-tick:before {
  content: "\e932";
}
.icon-attached-file:before {
  content: "\e933";
}
.icon-forward:before {
  content: "\e934";
}
.icon-location:before {
  content: "\e935";
}
.icon-pin:before {
  content: "\e936";
}
.icon-print:before {
  content: "\e937";
}
.icon-reply-all:before {
  content: "\e938";
}
.icon-reply:before {
  content: "\e939";
}
.icon-rotten:before {
  content: "\e93a";
}
.icon-tag:before {
  content: "\e93b";
}
.icon-settings-attributes:before {
  content: "\e93c";
}
.icon-settings-flow:before {
  content: "\e93d";
}
.icon-settings-group:before {
  content: "\e93e";
}
.icon-settings-mail:before {
  content: "\e93f";
}
.icon-settings-pipedrive:before {
  content: "\e940";
}
.icon-settings-roles:before {
  content: "\e941";
}
.icon-settings-sources:before {
  content: "\e942";
}
.icon-settings-tag:before {
  content: "\e943";
}
.icon-settings-type:before {
  content: "\e944";
}
.icon-settings-user:before {
  content: "\e945";
}
.icon-settings-webforms:before {
  content: "\e946";
}
.icon-settings-webhooks:before {
  content: "\e947";
}
.icon-attribute:before {
  content: "\e948";
}
.icon-download:before {
  content: "\e949";
}
.icon-move:before {
  content: "\e94a";
}
.icon-organisation:before {
  content: "\e94b";
}
.icon-role:before {
  content: "\e94c";
}
.icon-user:before {
  content: "\e94d";
}
.icon-warehouse:before {
  content: "\e94e";
}
.icon-icon-settings-warehouse:before {
  content: "\e94f";
}
.icon-sidebar:before {
  content: "\e951";
}
